// Footer style overrides

#colophon {
  text-shadow: none;
  padding-bottom: 30px;
}

#copyright {
  font-family: $header-font-family;
  font-size: 1.2rem;
  color: $color-white;
  text-align: center;
  &:hover {
    color: $color-yellow;
  }
}

#social {
  margin-bottom: 20px;
  float: left;
}

$social-width: 314px;
#social-icons {
  list-style: none;
  margin: 0;
  width: $social-width;

  .social-icon {
    float: left;
    margin-right: 10px;
    &:last-child { margin-right: 0; }

    a {
      @include box-sizing();
      $color-social-icon: $color-white;
      $size-social-icon: 44px;
      transition: background-color 0.2s linear;
      text-decoration: none;
      display: block;
      width: $size-social-icon;
      height: $size-social-icon;
      margin: 0 auto;
      padding: 9px 0 6px;
      text-align: center;
      border: 1px solid $color-social-icon;
      color: $color-social-icon;
      border-radius: 6px;
      &:before {
        font: 150% zocial;
        font-style: normal;
        font-weight: normal;
        display: inline-block;
      }
    }

    span {
      display: none;
    }

    @include social-icon-content-color("twitter", "T", $color-twitter);
    @include social-icon-content-color("googleplus", "+", $color-googleplus);
    @include social-icon-content-color("linkedin", "L", $color-linkedin);
    @include social-icon-content-color("quora", "q", $color-quora);
    @include social-icon-content-color("github", "\00E8", $color-github);
    @include social-icon-content-color("rss", "R", $color-rss);

    a.linkedin { padding-top: 8px; }
  }
}

#search-form-wrapper {
  margin-bottom: 20px;
  float: right;
  width: $social-width;
  height: 44px;
}

#searchform {
  position: relative;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  #search-label {
    background: transparent url(img/search.png) no-repeat top left;
    cursor: pointer;
    display: inline-block;
    text-indent: -99999px;
    width: 16px;
    height: 17px;
    margin: 0 10px;
    position: absolute;
    left: 0;
    top: 13px;
    clip: auto;
  }

  #search {
    @include box-sizing();
    background: lighten(black, 25%);
    border-radius: 6px;
    color: $color-white-dark;
    width: $social-width;
    border: 1px solid $color-white-dark;
    outline: none;
    padding: 10px 5px 11px 35px;
    font-family: $para-font-family;
    transition: all 0.1s linear;
    &:focus {
      color: black(0.75);
      background: lighten(black, 50%);
    }
  }

}

#search-info {
  font-size: 1.2rem;
  line-height: 0;
  color: $color-white-dark;
  font-family: $para-font-family;
  position: relative;
  z-index: 100;
  width: $social-width;
  margin: -22px -10px 22px;
  text-align: right;
}

@media screen and (max-width: 790px) {
  #social { float: none; }
  #social-icons { margin: 0 auto; }
  #search-form-wrapper {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
