.hentry {
  background: $color-white;
  box-shadow: none;
}

.entry-header {
  border-bottom: none;

  .entry-meta {
    margin-top: 5px;
  }
}

.entry-title {
  line-height: 1.3;
  color: $color-blue-dark;
  a {
    color: $color-blue-dark;
    text-decoration: none;
  }
}

.entry-meta {
  line-height: 1;
  a {
    color: $color-blue-dark;
  }
}

.entry-summary {
  border-top-color: $color-white-dark;
  border-bottom: none;
}

.entry-content {
  border-top-color: $color-white-dark;
  border-bottom: none;
  line-height: 23px;
}

footer.entry-meta {
  border-top-color: $color-white-dark;
}

// Masonry layout
.masonry {
  .entry-title {
    @extend .entry-title;
  }

  .hentry {
    &:hover { background-color: color-hover($color-white); }
  }

  footer.entry-meta {
    padding-top: 10px;
    padding-bottom: 10px;
    a {
      text-shadow: none;
      color: $color-blue-dark;
      &:hover { color: color-hover($color-blue-dark); }
      &:active { color: color-active($color-blue-dark); }
    }
    .post-link a:hover { color: color-hover($color-yellow); }
    .post-link a:active { color: color-active($color-yellow); }
  }

  $featured-color: lighten($color-blue, 35%);
  .post-featured.masonry-brick {
    background-color: $featured-color;
    &:hover { background-color: color-hover($featured-color); }
  }
}

// Single post layout
$post-padding: 40px;
$single-post-width: 600px + 2 * $post-padding;
.single-post {
  .entry-header {
    padding: 20px $post-padding;
  }

  .entry-content {
    padding-left: $post-padding;
    padding-right: $post-padding;
  }
}

.post-navigation, #disqus_thread, .single-post .post {
  max-width: $single-post-width;
  margin-left: auto;
  margin-right: auto;
}

// Post typography, spacing, etc.
.entry-content {
  a, a:visited {
    color: $color-blue;
  }

  h1, h2 {
    letter-spacing: 0;
  }

  a.fn-ref-mark {
    border-bottom: none;
    padding-left: 3px;
    &:hover { text-decoration: none; }
  }

  sup {
    line-height: 0;
  }

  #footnote-list {
    color: lighten(#1f1f1f, 20%);
    font-size: 13px;
    margin: 10px 0;
    line-height: 22px;
    ol {
      margin-top: 5px;
      a:last-child { text-decoration: none; }
    }
  }
}

// jQuery Footnotes hover.
body div#footnotediv {
  border-radius: 5px;
  box-shadow: none;
  font-size: 13px;
  font-family: $para-font-family;
  color: lighten(#1f1f1f, 20%);
  max-width: 350px;
  padding: 10px 15px;
  background-color: lighten($color-white, 10%);
  border: 1px solid $color-grey;
  line-height: 22px;
  a {
    color: $color-blue;
    &:hover { color: $color-blue; }
    &:last-child { text-decoration: none; }
  }
}

