.hentry {
  @include box-sizing();
  background: $color-white;
  box-shadow: none;
}

.entry-header {
  border-bottom: none;

  .entry-meta {
    margin-top: 5px;
  }
}

.entry-title {
  line-height: 1.3;
  color: $color-blue-dark;
  a {
    color: $color-blue-dark;
    text-decoration: none;
  }
}

.entry-meta {
  line-height: 1;
  a {
    color: $color-blue-dark;
  }
}

.entry-summary {
  border-top-color: $color-white-dark;
  border-bottom: none;
  padding-top: 10px;
  padding-bottom: 0;
}

.entry-content {
  border-top-color: $color-white-dark;
  border-bottom: none;
  line-height: 23px;
}

footer.entry-meta {
  border-top-color: $color-white-dark;
  a {
    color: $color-blue-dark;
    &:hover { color: color-hover($color-blue-dark); }
    &:active { color: color-active($color-blue-dark); }
  }
}

// Masonry layout
.masonry {
  .entry-title {
    @extend .entry-title;
  }

  .hentry {
    &:hover { background-color: color-hover($color-white); }
  }

  footer.entry-meta {
    padding-top: 10px;
    padding-bottom: 10px;
    a {
      text-shadow: none;
      color: $color-blue-dark;
      &:hover { color: color-hover($color-blue-dark); }
      &:active { color: color-active($color-blue-dark); }
    }
    .post-link a:hover { color: color-hover($color-yellow); }
    .post-link a:active { color: color-active($color-yellow); }
  }

  $featured-color: lighten($color-orange, 20%);
  .post-featured.masonry-brick {
    border: 2px solid $featured-color;
    &:hover {
      border-color: color-hover($featured-color);
      footer.entry-meta { background-color: color-hover($featured-color); }
    }
    footer.entry-meta { background-color: $featured-color; }
  }
}

// Single post layout
$post-padding: 20px;
$single-post-width: 600px + 2 * $post-padding;
.single-post {
  .entry-header {
    padding: $post-padding/2 $post-padding;
  }

  .entry-content {
    padding-left: $post-padding;
    padding-right: $post-padding;
  }

  footer.entry-meta {
    padding-left: $post-padding;
    padding-right: $post-padding;
  }
}

.post-navigation, #disqus_thread, .single-post .post {
  max-width: $single-post-width;
  margin-left: auto;
  margin-right: auto;
}

// Post typography, spacing, etc.
$body-color: #1f1f1f;
$underline-color: lighten($body-color, 25%);
.entry-content {
  a {
    border-bottom: 1px solid $underline-color;
    color: $body-color;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    &:hover {
      color: color-hover($body-color);
      border-bottom-color: color-hover($underline-color);
    }
    &:active {
      color: color-active($body-color);
      border-bottom-color: color-active($underline-color);
    }
  }

  h1, h2 {
    letter-spacing: 0;
  }

  a.fn-ref-mark {
    border-bottom: none;
    padding-left: 3px;
    &:hover { text-decoration: none; }
  }

  sup {
    line-height: 0;
  }

  #footnote-list {
    color: lighten(#1f1f1f, 20%);
    font-size: 13px;
    margin: 10px 0;
    line-height: 22px;
    ol {
      margin-top: 5px;
      a:last-child { border-bottom: none; }
    }
  }
}

// Related posts boxes
.related-posts {
  max-width: $single-post-width;
  margin: 0 auto;

  .post-wrapper {
    width: 50%;
    float: left;
    &:nth-child(odd) {
      .post { margin-right: $post-padding/2; }
    }
    &:nth-child(even) {
      .post { margin-left: $post-padding/2; }
    }
  }
  .post {
    background-color: darken($color-white, 5%);
    height: 105px;
  }
  .entry-header {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 40px;
    overflow: hidden;
  }
  .entry-title {
    font-size: 1.6rem;
  }
  .entry-meta {
    font-size: 1.2rem;
    padding-top: $post-padding/2;
    .post-link {
      line-height: 0.7;
      margin-right: -10px;
      a:hover { color: color-hover($color-yellow); }
      a:active { color: color-active($color-yellow); }
    }
  }
}

@media screen and (max-width: 490px) {
  .related-posts {
    .post {
      min-height: 100px;
    }
  }
}

// jQuery Footnotes hover.
body div#footnotediv {
  border-radius: 5px;
  box-shadow: none;
  font-size: 13px;
  font-family: $para-font-family;
  color: lighten(#1f1f1f, 20%);
  max-width: 350px;
  padding: 10px 15px;
  background-color: lighten($color-white, 10%);
  border: 1px solid $color-grey;
  line-height: 22px;
  a {
    color: $body-color;
    &:hover { color: color-hover($body-color); }
    &:last-child { border-bottom: none; }
  }
}

